In [1]:
# The data_dir variable is the only input allowed to your code. 
# Do not modify any file names in the image directory.
data_dir = "./MASI_pets"
# Add your code in the cells.

In [2]:
# Import packages
from os import listdir
from pathlib import Path
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import pandas as pd
 
%matplotlib inline

In [3]:
# Task 1: Scan the image files to gather image meta data.

img_folder_dir = Path(data_dir)

# Dataframe to store meta data
df = pd.DataFrame(columns=['Name', 'Dimension', 'Size', 'Aspect_ratio','Pet','Owner'])

for fn in listdir(img_folder_dir):
    # String operation
    pet_owner_name = fn.split('.')[0]
    pet_name = pet_owner_name.split('_')[0]
    owner_name = pet_owner_name.split('_')[1]
    # Load image
    img_dir = img_folder_dir / fn
    img = mpimg.imread(img_dir)
    # Image info
    img_dimension = img.shape
    img_size = img.shape[0] * img.shape[1]
    img_ratio = img.shape[1] / img.shape[0] # width / height
    # Append row to dataframe
    df = pd.concat([df, pd.DataFrame([[fn,img_dimension,img_size,img_ratio,pet_name,owner_name]],
                                    columns=['Name', 'Dimension', 'Size', 'Aspect_ratio','Pet','Owner'])                                    
                                    ],
                                    ignore_index = True)
# Sorting
df.sort_values(by=['Size','Pet'],ascending=[False,True], ignore_index=True)

,Name,Dimension,Size,Aspect_ratio,Pet,Owner
0,Yasha_SR.jpg,"(4608, 3456, 3)",15925248,0.75,Yasha,SR
1,Arthur_FR.jpg,"(4032, 3024, 3)",12192768,0.75,Arthur,FR
2,August_XY.jpg,"(4032, 3024, 3)",12192768,0.75,August,XY
3,Disney_XY.jpg,"(3024, 4032, 3)",12192768,1.333333,Disney,XY
4,Francie_CK.jpg,"(4032, 3024, 3)",12192768,0.75,Francie,CK
5,Hamilton_CK.png,"(4032, 3024, 4)",12192768,0.75,Hamilton,CK
6,Mango_LC.jpg,"(4032, 3024, 3)",12192768,0.75,Mango,LC
7,Ruby and Buddy_MK.jpg,"(4032, 3024, 3)",12192768,0.75,Ruby and Buddy,MK
8,Xiaomi_CG.jpeg,"(4032, 3024, 3)",12192768,0.75,Xiaomi,CG
9,Ziggy_NN.jpg,"(4032, 3024, 3)",12192768,0.75,Ziggy,NN
10,Lucky_TL.jpg,"(4032, 2268, 3)",9144576,0.5625,Lucky,TL
11,Oliver_CB.jpg,"(3264, 2448, 3)",7990272,0.75,Oliver,CB
12,Max_BL.jpg,"(4032, 1960, 3)",7902720,0.486111,Max,BL
13,Nutmeg_BL.JPG,"(2304, 3072, 3)",7077888,1.333333,Nutmeg,BL
14,Fuzzy Pants_BL.png,"(3173, 1785, 4)",5663805,0.562559,Fuzzy Pants,BL
15,Morris and Jackson_YT.jpg,"(1278, 1838, 3)",2348964,1.438185,Morris and Jackson,YT
16,Nimbus_KR.jpg,"(1600, 1200, 3)",1920000,0.75,Nimbus,KR